.parent {
    --bar-time: 500ms;
}


.two {
    animation: onHover var(--bar-time) ease-in-out forwards;
}
.two__reverse {
    animation: onHover-reverse var(--bar-time) ease-in-out reverse forwards;
}

@keyframes onHover-reverse {
    0% {
        transform: scaleX(.5);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(.5);
        transform-origin: right;
    }
}
@keyframes onHover {
    0% {
        transform: scaleX(.5);
    }
    50% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(.5);
        transform-origin: right;
    }
}

.link__item {
    --rotate-factor : 0deg;
    transform: translateX(-135%) translateY(-50%) rotate(var(--rotate-factor));
    transform-origin: right;
    top: 50%;
    left:50%;
    
    transition: transform 300ms linear;
}
/* flex items-center */